<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SenaiEmprega</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-light">

  <%- include('partials/navbar') %>

    <main>
      <div id="carouselExampleIndicators" class="carousel slide carousel-limit" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/imagem/banner1.png" class="d-block w-100" alt="..." loading="lazy">
          </div>
          <div class="carousel-item">
            <img src="/imagem/banner2.png" class="d-block w-100" alt="..." loading="lazy">
          </div>
          <div class="carousel-item">
            <img src="/imagem/banner3.png" class="d-block w-100" alt="..." loading="lazy">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>


      <!-- Texto de boas-vindas -->
      <div class="container mt-5 px-3 px-md-5" id="container-home">
        <h1 class="mb-4 text-center" id="text-center">Bem-vindo ao SenaiEmprega!</h1>
        <p class="lead text-center">
          <strong>SenaiEmprega</strong> é uma plataforma do SENAI que destaca o potencial dos alunos com base em
          avaliações de soft skills feitas pelos professores. As empresas acessam uma base confiável de talentos
          técnicos, enquanto os estudantes acompanham sua evolução e se preparam para o mercado de trabalho.
        </p>
      </div>

      <!-- Botões responsivos -->
      <div class="container mt-4">
        <div class="row g-3">
          <div class="col-12 col-md-4">
            <a href="/login" class="btn btn-primary w-100">Sou Aluno</a>
          </div>
          <div class="col-12 col-md-4">
            <a href="/login" class="btn btn-primary w-100">Sou Educador</a>
          </div>
          <div class="col-12 col-md-4">
            <a href="/login" class="btn btn-primary w-100">Sou Empresa</a>
          </div>
        </div>
      </div>
    </main>

   
<button type="button" class="btn btn-primary " id="chatbot" data-bs-toggle="modal" title="Central de ajuda" data-bs-target="#meuModal">
 <i class="bi bi-robot"></i> 
</button>

<div class="modal fade" id="meuModal" tabindex="-1" aria-labelledby="meuModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      
     
      <div class="modal-header">
        <h5 class="modal-title" id="meuModalLabel">ChatBot </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      
     <div class="container mt-4">
            <div class="card shadow">
                <div class="card-body" style="height: 400px; overflow-y: auto;">

            <div class="d-flex mb-3">
          <div class="me-2">
            <i class="bi bi-robot fs-4 text-success"></i>
          </div>
          <div class="bg-light p-2 rounded w-75">
            <small class="text-muted">Bot</small>
            <p class="mb-0">Olá, como posso ajudá-lo(a)</p>
          </div>
        </div>
                </div>
                <div class="card-footer">
                    <form id="formMensagem">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Digite sua mensagem..." required>
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-send"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>


    <%- include('partials/footer') %>

      <!-- Scripts Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

         <script>

            const form = document.getElementById('formMensagem');
            const input = form.querySelector('input');
            const cardBody = document.querySelector('.card-body');

            form.addEventListener('submit', function (e) {
                e.preventDefault();
                const msg = input.value.trim();
                if (!msg) return;


                const msgUsuario = `
      <div class="d-flex justify-content-end mb-3">
        <div class="bg-primary text-white p-2 rounded w-75 text-end">
          <small class="text-light">Você • ${horaAtual()}</small>
          <p class="mb-0">${msg}</p>
        </div>
      </div>`;
                cardBody.innerHTML += msgUsuario;

                input.value = '';
                cardBody.scrollTop = cardBody.scrollHeight;


                setTimeout(() => {
                    const resposta = gerarRespostaBot(msg.toLowerCase());
                    const msgBot = `
        <div class="d-flex mb-3">
          <div class="me-2">
            <i class="bi bi-robot fs-4 text-success"></i>
          </div>
          <div class="bg-light p-2 rounded w-75">
            <small class="text-muted">Bot • ${horaAtual()}</small>
            <p class="mb-0">${resposta}</p>
          </div>
        </div>`;
                    cardBody.innerHTML += msgBot;
                    cardBody.scrollTop = cardBody.scrollHeight;
                }, 1000);
            });

            function gerarRespostaBot(msg) {
                
                if (msg.includes('senha')) return 'Envie uma mensagem na página CONTATO, se você esqueceu a sua senha, para os administradores redefinerem a sua senha.';
                if (msg.includes('conta')) return 'Qual é o seu tipo de usuário: Administrador, Aluno, Professor ou Empresa.';
                if (msg.includes('administrador')) return 'Para acessar a sua conta de administrador, vai para página inicial e procura por ADMINISTRADOR localizado na barra de navegação e acessa com o seu E-Mail cadastrado e senha. Se não tiver uma conta registrada, por favor enviar uma mensagem no menu contato.';
                if (msg.includes('aluno')) return 'Para acessar a sua conta de Aluno, vai para página inicial e procura por Aluno localizado nos botões da página inicial e acesse com o seu E-Mail e a sua senha, caso não tiver uma conta enviar uma mensagem para o SENAI na página CONTATO.';
                if (msg.includes('professor')) return 'Para acessar a sua conta de Professor, vai para página inicial e procura por Professor localizado nos botões da página inicial e acesse com o seu E-Mail e a sua senha, caso não tiver uma conta enviar uma mensagem para o SENAI na página CONTATO.'
                if (msg.includes('empresa')) return 'Para acessar a sua conta de Empresa, vai para página inicial e procura por Empresa localizado nos botões da página inicial e acesse com o seu E-Mail e a sua senha, caso não tiver uma conta enviar uma mensagem para o SENAI na página CONTATO.'
                if (msg.includes('certificado')) return 'Os certificados somente com a cordenação do SENAI.';
                if (msg.includes('candidatar')) return 'Se você está com problema para se candidatar, pode ser por dois motivos: Sistema com falha ou Você não é ALUNO para se candidatar. Mas, se você for aluno e mesmo assim não consegue se candidatar, por favor entrar contato com o SENAI através da página CONTATO para os adiministradores informarem aos desenvolvedores o problema e os mesmmos resolverem'
                if (msg.includes('obrigado') ||  msg.includes('ok') || msg.includes('valeu'))  return 'Fico feliz ajuda-lo(a), até a próxima!'
                if (msg.includes()) return 'Informe sua dúvida'
                if (msg.includes('portal de vagas')) return 'Portal de vagas é uma página onde é exibido todas as vagas que as empresas publicam, para se candidatar basta ser ALUNO e clicar no botão de VER MAIS na vaga que se interessou e se candidatar. Assim que você se candidatar chegará no seu E-Mail a confirmação da candidatura. Boa sorte!'
                if (msg.includes('plataforma')) return 'SenaiEmprega é uma plataforma do SENAI que destaca o potencial dos alunos com base em avaliações de soft skills feitas pelos professores. As empresas acessam uma base confiável de talentos técnicos, enquanto os estudantes acompanham sua evolução e se preparam para o mercado de trabalho.'
                if(msg.includes('candidatura')) return 'Funciona da seguinta forma: o aluno(a) se candidata alguma vaga, no seu E-Mail chega a sua confirmação também. A empresa irá visualizar o seu desempenho com base na avaliação do seu professor e entrarão em contato através do E-Mail para participar do processo seletivo e enviar alguns documentos ex: Currículo.. Se você for aprovado ou reprovado, você será notificado!'
                
                

                return 'Desculpe, ainda estou aprendendo. Pode reformular sua pergunta.';
            }

            function horaAtual() {
                const agora = new Date();
                return agora.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            }
        </script>


</body>

</html>