<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/index.js" defer></script>    
    <title>Login</title>
</head>
<body>
    
    <body class="bg-light text-center">

        <%- include('partials/navbar') %>
    
    
            <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
                <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
                 <h1>Login</h1>
                    <form action="/login/autenticacao" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label"><i class="bi bi-envelope"></i></label>
                            <input type="email" class="form-control" name="email" placeholder="Informe o seu E-mail.." required>
                        </div>
    
                        <div class="mb-3">
                            <label for="senha" class="form-label"><i class="bi bi-lock"></i></label>
                            <input type="password" class="form-control" name="senha" placeholder="Digite a sua senha.." required>
                        </div>
    
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong><%= error %></strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% } %>
                </div>
            </div>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>